
<section id="add">
  <form action="/" method="post">

    <textarea name="type" placeholder="Type&hellip;"></textarea>
    <input type="submit" value="Search">
  </form>
</section>


<section id="save">
  <form action="/" method="post">

    <textarea name="bookmark_choice" placeholder="what do you want to save?&hellip;"></textarea>
    <input type="submit" value="Bookmark">
  </form>
</section>

 <% Restaurant.all.each do |x|%>
<ol>
    <li><%= x.name %></li>
</ol>
    <% end %>
