
<section id="add">
  <form action="/" method="post">
    <textarea name="location" placeholder="Location&hellip;"></textarea>
    <textarea name="type" placeholder="Food Type&hellip;"></textarea>
    <input type="submit" value="Search">
  </form>
</section>
 
<% # display notes %>