<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title>YELPIE</title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Yelpie</a></h1>
      <h2>...for hungry and lazy DBC students</h2>
    </hgroup>
  </header>
 
  <div id="main">
    <%= yield %>
  </div>
 
  <footer>

  </footer>
</body>
</html>